.topBarWrapper {
  background-color: gray;
  color: yellow;
  border: 1px solid black;
}

.horizon {
  display: flex;
  justify-content: space-between;
}

#center {
  font-size: 40px;
}

#right {
  font-size: 40px;
}

#inputContent {
  height: 40px;
}

#sized {
  font-size: 30px;
}
